# Projeto 2 - Ciência dos dados

**Integrantes:**
</p>

- Amanda Carmo

</p>

- Vitor Miada

In [123]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from scipy import stats #importa apenas as funções de estatísticas da biblioteca SciPy.

In [124]:
dados_driver = pd.read_csv('drivers.csv')
dados_quali = pd.read_csv('quali.csv')
dados_result = pd.read_csv('results.csv')
dados_circuit = pd.read_csv('a.csv')
dados_race = pd.read_csv('b.csv')
dados_contresult = pd.read_csv('contresu.csv')
dados_escud = pd.read_csv('cont.csv')

In [125]:
#dados_driver.head()

In [126]:
#dados_quali.head()

In [127]:
dados_result
dados_result.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [128]:
#dados_circuit.head()

In [129]:
#dados_race.head(10)

In [130]:
#dados_escud.head()

In [131]:
#dados_contresult.head()

____
### Limpando os dados

O primeiro passo a ser feito é o tratamento dos datasets com o objetivo de se ter uma leitura mais limpa, focando-se naquilo que será analisado.

- dados do corredor:

In [132]:
dados_driver = dados_driver.drop(dados_driver.columns[[3, 4, 5, 6, 8]], axis=1)

In [133]:
dados_driver.head()

   driverId   driverRef number nationality
0         1    hamilton     44     British
1         2    heidfeld     \N      German
2         3     rosberg      6      German
3         4      alonso     14     Spanish
4         5  kovalainen     \N     Finnish

.

- dados da qualificação:

In [134]:
dados_quali = dados_quali.drop(dados_quali.columns[[6, 7, 8]], axis=1)

In [135]:
dados_quali.head()

   qualifyId  raceId  driverId  constructorId  number  position
0          1      18         1              1      22         1
1          2      18         9              2       4         2
2          3      18         5              1      23         3
3          4      18        13              6       2         4
4          5      18         2              2       3         5

.

- dados da escuderia:

In [136]:
dados_escud = dados_escud.drop(dados_escud.columns[[1, 4]], axis=1)

In [137]:
dados_escud.head()

   constructorId        name nationality
0              1     McLaren     British
1              2  BMW Sauber      German
2              3    Williams     British
3              4     Renault      French
4              5  Toro Rosso     Italian

.

- dados da corrida:

In [138]:
dados_race = dados_race.drop(dados_race.columns[[2, 5, 6, 7]], axis=1)

In [139]:
dados_race.head()

   raceId  year  circuitId                   name
0       1  2009          1  Australian Grand Prix
1       2  2009          2   Malaysian Grand Prix
2       3  2009         17     Chinese Grand Prix
3       4  2009          3     Bahrain Grand Prix
4       5  2009          4     Spanish Grand Prix

.

- dados do circuito:

In [140]:
dados_circuit = dados_circuit.drop(dados_circuit.columns[[1, 3, 5, 6, 7, 8]], axis=1)

In [141]:
dados_circuit.head()

   circuitId                            name    country
0          1  Albert Park Grand Prix Circuit  Australia
1          2    Sepang International Circuit   Malaysia
2          3   Bahrain International Circuit    Bahrain
3          4  Circuit de Barcelona-Catalunya      Spain
4          5                   Istanbul Park     Turkey

.

- Resultados

Escuderia:

In [142]:
dados_contresult =  dados_contresult.drop(dados_contresult.columns[[5]], axis=1)

In [143]:
dados_contresult.head()

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

Geral:

In [144]:
dados_result.head(19)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,\N,R,11,0.0,32,\N,\N,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,\N,R,12,0.0,30,\N,\N,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,\N,R,13,0.0,29,\N,\N,23,6,1:28.175,216.510,5
13,14,18,14,9,9,8,\N,R,14,0.0,25,\N,\N,21,11,1:29.502,213.300,4
14,15,18,15,7,11,6,\N,R,15,0.0,19,\N,\N,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,\N,R,16,0.0,8,\N,\N,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,\N,R,17,0.0,0,\N,\N,\N,\N,\N,\N,4
17,18,18,18,11,16,12,\N,R,18,0.0,0,\N,\N,\N,\N,\N,\N,4
18,19,18,19,8,19,21,\N,R,19,0.0,0,\N,\N,\N,\N,\N,\N,4

In [145]:
dados_result =  dados_result.drop(dados_result.columns[[5, 7, 9, 10,11,12,13,15,16,17]], axis=1)

In [146]:
dados_result.head()

,resultId,raceId,driverId,constructorId,number,position,positionOrder,rank
0,1,18,1,1,22,1,1,2
1,2,18,2,2,3,2,2,3
2,3,18,3,3,7,3,3,5
3,4,18,4,4,5,4,4,7
4,5,18,5,1,23,5,5,1

___

### ANALISE EXPLORATORIA